.header{
    font-family: fantasy;
    font-size: 70px;
    color: rgb(159, 255, 159);
    text-shadow: 5px 1px green;
    
}
.header2{
    font-family: fantasy;
    font-size: 35px;
    color: rgb(159, 255, 159);
    text-shadow: 5px 1px green;
    
}
.subhead{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(159, 255, 159);
    text-shadow: 1px 1px green;
}
.subhead:hover{
    background-color: green;
}
