.subtitle{
    background : plum;
}
.cool-text{
    font-family: "comic sans ms";
    font-size: 20px;
    color: magenta;
}
#whatever{
    font-family: "comic sans ms";
    width: 200px;
    height: 300px;
    font-size: 20px;
    background-color: red;
}
.bigboy{
    font-size: 70px;
}